<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="travel">
            <h2><span jhiTranslate="geoBikeApp.travel.detail.title">Travel</span> {{ travel.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="geoBikeApp.travel.name">Name</span></dt>
                <dd>
                    <span>{{ travel.name }}</span>
                </dd>
                <dt><span jhiTranslate="geoBikeApp.travel.userid">Userid</span></dt>
                <dd>
                    {{ travel.userid?.id }}
                </dd>
                <dt><span jhiTranslate="geoBikeApp.travel.bikeid">Bikeid</span></dt>
                <dd>
                    <div *ngIf="travel.bikeid">
                        <a [routerLink]="['/bike', travel.bikeid?.id, 'view']">{{ travel.bikeid?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/travel', travel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
